body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background: #212121;
  color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

textarea,
input,
button,
select {
  outline: none !important;
}

/* Scroll Bar */
::-webkit-scrollbar {
  min-width: 8px;
  width: 8px;
  max-width: 8px;
  min-height: 12px;
  height: 12px;
  max-height: 12px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #bbb;
  border: none;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
}

::-webkit-scrollbar-thumb:active {
  background: #aaa;
}

::-webkit-scrollbar-button {
  display: none;
}
